@import "../../_styles/global_styles/variables";
@import "../../_styles/global_styles/mixins";
@import "../../_styles/global_styles/extends";
@import "../../_styles/global_styles/animations";

.grid-wrapper {
  display: grid;
  grid-template-columns: auto auto 2em;
  justify-items: start;
  align-items: center;
}