@import "../../utils/global_styles/variables";
@import "../../utils/global_styles/mixins";
@import "../../utils/global_styles/extends";

.pageWrapper {
  font-size: 1rem;
  color: $greyDark;
  padding: 2em 1.5em;

  @include transition();

  @media screen and (max-width: 1024px) {
    font-size: 0.9em;
  }

  @media screen and (max-width: 768px) {
    font-size: 0.8em;
  }
}