@import "../../utils/global_styles/variables";
@import "../../utils/global_styles/mixins";
@import "../../utils/global_styles/extends";

.pageWrapper {
  color: $greyDark;
  border: 1px dotted red;
  padding: 40px 10px;
}