@import "../../styles/global_styles/_variables.scss";
@import "../../styles/global_styles/_mixins.scss";
@import "../../styles/global_styles/_extends.scss";
@import "../../styles/global_styles/_animations.scss";

.aside-bar__controls {
  width: 100%;
  border: 1px solid blue;
  gap: 1.5em;
  @include flex-box($flex-box-row-center-wrap...);

  &__buttons {
    border: 1px solid green;
    flex-grow: 1;
    gap: 0.6em;
    @include flex-box($flex-box-row-center-wrap...);
  }

  &__handles {
    //flex-grow: 1;
    @include flex-box($flex-box-row-center-wrap...);
  }
}