@import "../../styles/global_styles/_variables.scss";
@import "../../styles/global_styles/_mixins.scss";
@import "../../styles/global_styles/_extends.scss";
@import "../../styles/global_styles/_animations.scss";

.aside-bar__controls {
  width: 100%;
  padding-bottom: 0.7em;

  @include flex-box($flex-box-row-center-nowrap...);

  &__buttons {
    padding: 0.3em;
    flex-grow: 1;
    gap: 0.6em;
    @include flex-box($flex-box-row-left-nowrap...);
  }

  &__handles {
    padding: 0.3em 1em;
  }
}