@import "../../utils/global_styles/variables";
@import "../../utils/global_styles/mixins";
@import "../../utils/global_styles/extends";
@import "../../utils/global_styles/animations";
///@import "../../global_styles/fonts";

.postWrapper {
  position: relative;
  width: 100%;
  //padding: 10px;
  margin: 0.5em 0;
  cursor: pointer;
  @include transition();
}

.headingTitle {
  color: $violet;
  font: {
    family: "StardosStencil-Regular", sans-serif;
    size: 1.2em;
    weight: 700;
  }
  letter-spacing: 0.05em;
  padding: 0.4em;
  @include text-shadow(1px, 2px);
}

.subHeading {
  padding: 0.4em;
}

.textArea {
  display: block;
  user-select: contain;
  outline: none;
  width: 100%;
  padding: 0.3em;
  margin: 0.3em auto;

  &:hover {
    background-color: $foxyLighter;
    @include box-shadow(4px, 4px);
  }

  &:focus {
    @include box-shadow(2px, 2px);
    background-color: $yellyLight;
  }

  @include scroll-init(5px, $blueDark, $foxyGrey);
}

.textAreaHeader {
  composes: textArea;
  height: 2em;
  font: {
    family: "StardosStencil-Regular", sans-serif;
    weight: 700;
    size: 2em;
  }
  color: $foxy;
  @include text-shadow(2px, 2px);
}

.textAreaBody {
  composes: textArea;
  height: 10em;
  font: {
    family: "HelveticaNeue", sans-serif;
    weight: 400;
    size: 1.3em;
  }
}

.hr {
  height: 3px;
  background-color: $violet;
  margin-bottom: 1em;
}

.dateIndicate {
  color: $violet;
  padding: 0 20px;
}