@import "mixins";
@import "variables";

///////EXTENDS///////

%topWrapper {
  font-size: 1rem;
  padding: 1.25em;

  @include flex-box($flex-box-row-center...);

  @media screen and (max-width: 768px) {
    font-size: 0.9em;
  }
}

%asideBar {
  max-width: 11em;
  padding: 0.5em;
  border: 1px solid red;

  @include flex-box($flex-box-row-center...);

  @media screen and (max-width: 768px) {
    max-width: 100%;
  }
}

%contentBar {
  flex-basis: 450px;
  flex-grow: 1;
  padding: 0.6em;
  margin: 0 1.25em;
}

%fixedScrolledContainer {
  position: relative;
  min-width: 140px;
  height: 700px;
  border: 5px solid $foxy;
  border-radius: 1.2em;
  padding: 1.25em;
  margin: 1.3em auto;
  background-color: $white;

  @include flex-box($flex-box-col-center...);
  align-items: flex-start;
  flex-flow: column nowrap;
  @include scroll-init(5px, $blueDark, $foxyGrey);
}

%postHeadingBlock {
  width: 100%;
  @include flex-box($flex-box-row-center...);
}

%heading {
  font: {
    size: 2em;
    family: "StardosStencil-Regular", sans-serif;
    weight: 700;
  }

  padding: 0.3em;
  text-align: center;
  letter-spacing: 0.1em;

  @include text-shadow(2px, 3px);
  color: $violet;
}

%button {
  display: inline-block;
  text-align: center;
  border: none;
  padding: 0.3em 0.5em;
  @include box-shadow(2px, 3px);
  @include transition();
  cursor: pointer;

  &:hover {
    transform: translateY(-2px);
    @include box-shadow(3px, 5px);
  }

  &:active {
    transform: scale(1);
    @include box-shadow(1px, 3px);
  }
}

%asideButton {
  @extend %button;

  font: {
    family: "StardosStencil-Regular", sans-serif;
    weight: 700;
  }
  color: $white;
  text-transform: uppercase;
  width: 9em;
  margin: 0.5em;
}