///dimensions
$maxWidth: 1280px;

///colors
$white: rgb(255, 255, 255);
$greyLightest: #f2f2f2;
$greyLighter: #e3e3e3;
$greyLight: rgb(220, 220, 220);
$greyNorm: rgb(119, 119, 119);
$greyDark: rgb(51, 51, 51);
$blue: rgb(0, 57, 117);
$blueDark: rgb(0, 41, 86);
$foxy: #ee7900;
$foxyLight: #ffd3a3;
$foxyLighter: #ffe9d1;
$foxyGrey: rgb(239, 177, 124);
$yellyLight: #fff4bd;
$yelly: #ffdd33;
$violetLightest: #efdffb;
$violetLight: #b468ee;
$violet: #5a1094;
$reddyLight: #f1c1c6;
$reddy: #db616f;
$reddyDark: #911221;
$green: #6bb377;
$greenLight: #b0e3b8;