@import "reset";
@import "fonts";
@import "variables";
@import "mixins";

///////STYLES///////

body {
  font-family: "HelveticaNeue", sans-serif;
  color: $greyNorm;
  background-color: $greyLightest;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  @include transition();
}
/*************TOP BORDER BODY****************/
body:before {
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  z-index: 100;
  box-shadow: 0 0 10px rgba(0,0,0,.8);
}
/*****************END TOP BORDER BODY************/

#root {
  max-width: $maxWidth;
  background-color: $white;
  margin: 0 auto;
}

/************OPTION****************/
.flex-box {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.flex-box.center {
  justify-content: center;
  align-items: center;
}

.flex-box.around {
  justify-content: space-around;
  align-items: center;
}



