@import "../../utils/global_styles/variables";
@import "../../utils/global_styles/mixins";
@import "../../utils/global_styles/extends";
@import "../../utils/global_styles/animations";
///@import "../../global_styles/fonts";

.wrapper {
  max-width: 11em;
  padding: 0.5em;
  border: 1px solid red;

  @include flex-box($flex-box-row-center...);

  @media screen and (max-width: 768px) {
    max-width: 100%;
  }
}