@import "../../styles/global_styles/_variables.scss";
@import "../../styles/global_styles/_mixins.scss";
@import "../../styles/global_styles/_extends.scss";
@import "../../styles/global_styles/_animations.scss";

.posts-wrapper {
  border: 2px dashed purple;
  width: 100%;
  //giving height: 0 with flex-grow: 1 gives the fixed height for .posts-wrapper within the height of the parent
  // AsideBar (which has flex-direction: column, align-items: scratch). It gives possibility to scroll .posts-wrapper
  //without fixing height with the particular value.
  height: 0;
  flex-grow: 1;
  padding: 0.3em 0;

  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: center;

  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;


  //@include scroll-init(0.5em, $foxy, $foxy);
}