@import "../styles/global_styles/reset";
@import '../styles/global_styles/_variables.scss';
@import '../styles/global_styles/_mixins.scss';
@import '../styles/global_styles/_extends.scss';
@import '../styles/global_styles/_animations.scss';
@import '../styles/global_styles/_fonts.scss';

.main-wrapper {
  width: 100%;
  flex-grow: 1;
  padding: 0.65em 1em;
  border: 1px solid red;

  @include flex-box($flex-box-row-top-nowrap...);
  align-items: stretch;
}
