@import "../../utils/global_styles/variables";
@import "../../utils/global_styles/mixins";

.loadContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 50px;

  @include flex-box($flex-box-row-center...);

  img {
    display: inline-block;
    width: 25px;
    height: 25px;
  }
}