@import "../../styles/global_styles/_variables.scss";
@import "../../styles/global_styles/_mixins.scss";
@import "../../styles/global_styles/_extends.scss";
@import "../../styles/global_styles/_animations.scss";

.post-wrapper {
  width: 100%;
  padding: 0.3em;
  margin: 0.3em auto;
  border: 0.2em solid $foxy;

  @include box-shadow(0.12em, 0.25em);
  @include transition();

  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    transform: translateY(-0.25em);
    @include box-shadow(0.2em, 0.45em);
  }

  &.active {
    box-shadow: inset -0.12em -0.12em 0.25em rgba(0,0,0,0.8),
    inset 0.12em 0.12em 0.25em rgba(0,0,0,0.8);
    background-color: rgba(0, 0, 0, 0.1);

    &:hover {
      cursor: initial;
      transform: none;
    }
  }

  .ratings-wrapper {
    margin-bottom: 0.3em;
  }

  .elem-info {
    font-weight: 600;
  }

  .post-details-wrapper {
    &__userName {
      display: block;
      color: $foxy;
      letter-spacing: 0.05em;
      margin-bottom: 0.3em;
      @include init-font(1.05em, 500);
      @include text-shadow(0.08em, 0.1em);
    }

    &__title {
      margin-bottom: 0.15em;
    }

    &__tags {

    }
  }
}