@import "../../utils/global_styles/variables";
@import "../../utils/global_styles/mixins";
@import "../../utils/global_styles/animations";
///@import "../../utils/global_styles/fonts";

.headerWrapper {
  @include flex-box($flex-box-row-center...);
}

.headingWrapper {
  font-family: "StardosStencil-Regular", sans-serif;

  .heading {
    color: $foxy;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    @include init-font(3em, 700);
    @include text-shadow(0.05em, 0.08em);
  }
}

.headerMain {
  flex-grow: 1;
  padding: 1.5em;
  min-height: 5em;
  text-align: center;
  background: linear-gradient(90deg, $white 10%, $foxy);

  h2 {
    color: $white;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: right;
    @include init-font(1.5em, 700);
    @include text-shadow(0.05em, 0.08em);
  }
}
