@import "../../utils/global_styles/variables";
@import "../../utils/global_styles/mixins";
@import "../../utils/global_styles/animations";
///@import "../../utils/global_styles/fonts";

.headerWrapper {
  @include flex-box($flex-box-row-center...);
}

.headingWrapper {
  font-family: "StardosStencil-Regular", sans-serif;
  font-size: 1rem;

  .heading {
    color: $foxy;
    letter-spacing: 2px;
    text-transform: uppercase;
    @include init-font(44px, 700);
    @include text-shadow(2px, 3px);
  }
}

.headerMain {
  flex-grow: 1;
  padding: 20px;
  min-height: 70px;
  text-align: center;
  background: linear-gradient(90deg, $white 10%, $foxy);
}
