@import "../../styles/global_styles/reset";
@import '../../styles/global_styles/_variables.scss';
@import '../../styles/global_styles/_mixins.scss';
@import '../../styles/global_styles/_extends.scss';
@import '../../styles/global_styles/_animations.scss';
@import '../../styles/global_styles/_fonts.scss';

#header {
  width: 100%;
  padding: 1.5em 1.6em;
  background-color: $foxy;
  @include flex-box($flex-box-row-center-wrap...);

  .header__logo-bar {
    flex-grow: 1;

    &__heading {
      color: $white;
      font-family: "Cooper Black", sans-serif;
      letter-spacing: 0.03em;
      @include init-font(3.1em, 700);
      @include text-shadow(0.03em, 0.08em);
    }
  }

  .header__filter-bar {
    flex-grow: 1;

    @include flex-box($flex-box-row-right-nowrap...);
    gap: 0.6em;

    &__heading {
      color: $dark;
      @include init-font(1.13em, 500);
      @include text-shadow(0.03em, 0.1em);
    }
  }

}