@import '../../styles/global_styles/_variables.scss';
@import '../../styles/global_styles/_mixins.scss';
@import '../../styles/global_styles/_extends.scss';
@import '../../styles/global_styles/_animations.scss';
@import '../../styles/global_styles/_fonts.scss';

#header {
  width: 100%;
  padding: 0.4em 1em;
  background-color: $foxy;
  @include flex-box($flex-box-row-center-wrap...);

  .header__logo-bar {
    padding: 0.5em 0;
    flex-grow: 1;

    &__heading {
      color: $white;
      font-family: "Cooper Black", sans-serif;
      letter-spacing: 0.03em;
      @include init-font(3em, 700);
      @include text-shadow(0.03em, 0.08em);
    }
  }
}