@import "../../utils/global_styles/variables";
@import "../../utils/global_styles/mixins";
@import "../../utils/global_styles/animations";
//@import "../../global_styles/fonts";

.footerWrapper {
  font-size: 1rem;
  width: 100%;

  @media screen and (max-width: 768px) {
    font-size: 0.9em;
  }

  .blocksWrapper {
    background: linear-gradient(90deg, $white 10%, $foxy);
    @include flex-box($flex-box-row-center...);

    .footerBlock {
      width: 3em;
      height: 3em;
      padding: 0.5em;
      margin: 0.6em 1.25em;
      background-color: $greyLight;
      color: $white;
      @include flex-box($flex-box-row-center...);
      @include transition();
      @include box-shadow(0.1em, 0.25em);

      &:hover {
        cursor: pointer;
        background-color: $greyNorm;
        transform: translateY(-0.26em);
        @include box-shadow(0.15em, 0.3em);
      }

      &:active {
        transform: translateY(0);
        @include box-shadow(0.05em, 0.15em);
      }
    }
  }

  .footerTale {
    @include flex-box($flex-box-row-between...);

    .socialLinksWrappper {
      @include flex-box($flex-box-row-center...);

      .socialLink {
        display: inline-block;
        color: $violet;
        font-weight: 700;
        padding: 5px;

        &:hover {
          cursor: pointer;
          animation: popup .5s ease-in-out infinite;
        }
      }
    }
  }
}