@import "../../utils/global_styles/variables";
@import "../../utils/global_styles/mixins";
@import "../../utils/global_styles/extends";
@import "../../utils/global_styles/animations";
///@import "../../global_styles/fonts";

.topWrapper {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  @include flex-box($flex-box-row-center...);

  .alertBlock {
    @include flex-box($flex-box-row-center...);

    transform: scale(0);
    width: 280px;
    height: 190px;
    padding: 10px;
    border: 3px solid $white;
    border-radius: 12px;
    color: $violet;
    background-color: $greyLightest;
    @include init-font(18px, 700);
    //@include box-shadow(4px, 6px, $blueDark);
    box-shadow: 3px 3px 6px $blueDark,
                inset -1px -1px 4px $greyNorm,
                inset 1px 1px 4px $greyNorm;

    animation: scaleUpZero 0.5s ease-in-out forwards;

    &.negative {
      background-color: $reddy;
    }

    .buttonsWrapper {
      text-align: center;
      padding: 5px;
    }
  }
}

.bttn {
  @extend %button;
  width: 80px;
  border-radius: 4px;
  color: $green;
  margin: 3px 10px;
}
.bttnCancel {
  composes: bttn;
  color: $reddy;
}