@import "../../utils/global_styles/variables";
@import "../../utils/global_styles/mixins";
@import "../../utils/global_styles/extends";
@import "../../utils/global_styles/animations";
///@import "../../global_styles/fonts";

.alertBlock {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  transform: scale(0);
  @include flex-box($flex-box-row-center...);
  @include init-font(18px, 700);

  width: 380px;
  height: 200px;
  padding: 30px;
  border: 3px solid $white;
  border-radius: 12px;
  color: $blueDark;
  background-color: $greyLightest;
  box-shadow: 3px 3px 6px $blueDark,
  inset -1px -1px 4px $greyNorm,
  inset 1px 1px 4px $greyNorm;

  animation: scaleUpZero 0.5s ease-in-out forwards;

  &.negative {
    background-color: $reddyLight;
  }

  .buttonsWrapper {
    text-align: center;
    padding: 5px;
  }
}

.bttn {
  @extend %button;
  width: 80px;
  border-radius: 4px;
  color: $green;
  margin: 3px 10px;
}
.bttnCancel {
  composes: bttn;
  color: $reddy;
}