@import "../../utils/global_styles/variables";
@import "../../utils/global_styles/mixins";
@import "../../utils/global_styles/extends";
@import "../../utils/global_styles/animations";
///@import "../../global_styles/fonts";

.totalWrapper {
  font-size: 1rem;
  padding: 1.25em;

  @media screen and (max-width: 768px) {
    font-size: 0.9em;
  }
}

.flexBoxCenter {
  @include flex-box($flex-box-row-center...);

  .postsHeading {
    flex-grow: 1;
    font: {
      family: "StardosStencil-Regular", sans-serif;
      weight: 700;
    }

    padding: 5px 10px;
    text-align: center;
    letter-spacing: 3px;

    @include text-shadow(2px, 3px);
    color: $violet;
  }
}

.contentWrapper {
  @include flex-box($flex-box-row-center...);
}

.asideButton {
  @extend %button;

  font-family: "StardosStencil-Regular", sans-serif;
  background-color: $violetLight;
  color: $white;
  font-weight: 700;
  width: 9em;
  margin: 0.5em;
}

.backButton {
  composes: asideButton;
  background-color: $greyLighter;
  color: $violet;
}
.deleteButton {
  composes: asideButton;
  background-color: $reddy;
}
.createButton {
  composes: asideButton;
  background-color: $green;
}

.postList {
  position: relative;
  overflow-y: scroll;
  min-width: 140px;
  height: 700px;
  border: 5px solid $foxy;
  border-radius: 1.2em;
  padding: 1.25em;
  margin: 1.3em auto;
  background-color: $white;

  @include flex-box($flex-box-col-center...);
  align-items: flex-start;
  flex-flow: column nowrap;
}