@import "../../styles/global_styles/reset";
@import '../../styles/global_styles/_variables.scss';
@import '../../styles/global_styles/_mixins.scss';
@import '../../styles/global_styles/_extends.scss';
@import '../../styles/global_styles/_animations.scss';
@import '../../styles/global_styles/_fonts.scss';

.content-bar {
  padding: 0.3em;
  border: 1px solid darkblue;
  flex-grow: 1;
  height: 100%;

  @include flex-box($flex-box-row-left-wrap...);
  align-items: flex-start;
}