@import "../../utils/global_styles/variables";
//@import "../../utilsGulp/global_styles/mixins";
@import "../../utils/global_styles/extends";
//@import "../../utilsGulp/global_styles/animations";
///@import "../../global_styles/fonts";

.topWrapper {
  min-height: 800px;
  padding: 20px;
  background-color: $foxyLighter;

  .buttonBack {
    @extend %asideButton;
    background-color: $greyNorm;
  }
}
